#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.app .titolo{
  font-size: 50px;
  margin: auto;
}

.app .header{
  margin: auto;
  width: 60%;
  height: 10%;
  top: 0px;
  text-align: center;
}

.app .chatHistory{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
}


.app .chatInput{
  min-height: 38px;
  width: 98%;
  left: 1%;
  position:absolute;
  bottom: 11px;
  border:2px solid red;
}

.app .chat{
  height: 100%;
  bottom: 0px;
}

#data{
  color: grey;
  font-size: 13px;
  padding-left: 20px;
}

#user{
  max-width: 60%;
  background-color: pink;
  position: relative;
  left: 35%;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px 10px 10px 10px;
  border: 5px solid white;
}

#eliza{
  max-width: 60%;
  background-color: aqua;
  position: relative;
  left: 5%;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px 10px 10px 10px;
  border: 5px solid white;
}

